{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <img src={% static 'img/IMG_2226.jpg' %} width="180" height="240"
           class="d-inline-block align-top" alt="">
    </aside>
    <article class="col-12 col-md-8">
      <h1>Привет, я Дунаева Клавдия - автор данного проекта.</h1>
      <p>Тут я размещу информацию о себе, используя свои умения верстать.
        Картинки, блоки, элементы бустрап. А может быть, просто напишу
        несколько абзацев текста.</p>
    </article>
  </div>
{% endblock %} 