{% extends 'base.html' %}
{% block title %}
  Последние обновления ваших любимых авторов
{% endblock %}
{% block content %}
  <h1>
    Последние обновления ваших любимых авторов
  </h1>
  {% include 'posts/includes/switcher.html' with follow=True %}
  {% load cache %}
  {% cache 20 follow_page request.user.username %}
    {% for post in page_obj %}
      {% include 'posts/includes/post_card.html' %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  {% endcache %}
{% endblock %}
