{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Пост {{ post|truncatechars:30}}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-15">
      <div class="container py-5 shadow-sm">
        <h1>
          Подробности публикации
          <hr>
        </h1>
        <div class="row col-md-14">
         {% include 'posts/includes/user_card.html' %}
          <article class="col-12 col-md-9">
            {% include 'posts/includes/post_card.html' with post_detail_flag=True %}
            {% include 'posts/includes/comments.html' %}
          </article>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
