{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Профайл пользователя {{ author }}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-15">
      <div class="container py-5 shadow-sm">
        <h1>
          Профайл пользователя {{ author.get_full_name }}
          <hr>
        </h1>
        <div class="row col-md-14">
          {% include 'posts/includes/user_card.html' %}
          <article class="col-12 col-md-9">
            {% for post in page_obj %}
              {% include 'posts/includes/post_card.html' with profile_flag=True %}
            {% endfor %}
            {% include 'posts/includes/paginator.html' %}
          </article>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
